  <form id="file-upload-form " class="uploader mt-5">
    <input
      id="file-upload"
      type="file"
      name="fileUpload"
      accept="image/*"
      (change)="fileSelectHandler($event)"
    />
    <label for="file-upload" id="file-drag" >
      <img
        id="file-image"
        *ngIf="selectedImage; else uploadimg"
        [src]="selectedImage"
        alt="Preview"
      />
      <ng-template #uploadimg>
        <div id="start">
          <i class="fa fa-download" aria-hidden="true"></i>
          <div class="text-gray-900"> Select a file</div>
          <div id="notimage" class="hidden">Please select an image</div>
          <span id="file-upload-btn" class="btn bg-gray-900">Select a file</span>
        </div>
      </ng-template>
      <div id="messages" *ngIf="errorMessage">{{ errorMessage }}</div>
      <div id="response" *ngIf="startUpload" class="flex-none">
        <progress
          class="progress"
          id="file-progress"
          [value]="fileProgress"
          max="100"
        ></progress>
        <span class="text-slate-900">{{ fileProgress }}</span
        >%
      </div>
    </label>
  </form>
  <div class="container mt-2 " *ngIf="selectedImage">
    <div class="md:flex">
      <h1 class="mt-3"><strong>Auto Delete Image :</strong> </h1>
     
      <select class="ml-2 mt-1"  [(ngModel)]="selectedExpirationTime">
        <option value="0">Don't auto delete</option>
        <option value="1">after 1 day</option>
        <option value="2">after 2 days</option>
        <option value="3">after 3 days</option>
        <option value="4">after 4 days</option>
        <option value="5">after 5 days</option>
        <option value="6">after 6 days</option>
        <option value="7">after 1 week</option>
        <option value="14">after 2 week</option>
        <option value="21">after 3 week</option>
        <option value="30">after 1 month</option>
        <option value="60">after 2 month</option>
        <option value="90">after 3 month</option>
        <option value="120">after 4 month</option>
        <option value="150">after 5 month</option>
        <option value="180">after 6 month</option>
      </select>
    </div>


    <span class="btn bg-gray-900" *ngIf="!startUpload" (click)="uploadFiles()">upload Image</span>
  </div>
