<div
  class="navBar bg-[#6B7280] flex justify-between items-center shadow-lg p-[1rem]"
>
  <div class="flex gap-2 logoDiv px-10 cursor-pointer">
    <h1 class="logo text-[25px] text-white"><strong>Tummok</strong>App</h1>
  </div>
  <div class="menu flex gap-8 pr-10">
    <div class="flex gap-2">
      <div class="w-9  rounded-full overflow-hidden">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Default_pfp.svg/1200px-Default_pfp.svg.png"
          alt="logo"
        />
      </div>
      <h1 class="mt-1 text-white text-[20px]">{{username}}</h1>
    </div>

    <button
      (click)="userLogOut()"
      class="bg-white text-[#6f6f6f] px-4 py-1 rounded-lg hover:bg-[#d6d3d3] duration-300 border border-[#6f6f6f] hover:text-[#6f6f6f]"
    >
      Logout
    </button>
  </div>
</div>
