
<nav
  class="mx-auto block w-full border border-white/80 bg-gray-900 bg-opacity-80 py-2 px-4 text-white shadow-md backdrop-blur-2xl backdrop-saturate-200 lg:px-8 lg:py-4"
>
  <div>
    <div class="container mx-auto flex items-center justify-between text-white">
      <a
      routerLink="/home"
        class="mr-4 block cursor-pointer py-1.5 font-sans text-sm font-normal leading-normal text-inherit antialiased"
      >
        <div class="flex gap-2 logoDiv cursor-pointer">
          <h1 class="logo text-[25px] text-white transition hover:text-gray-500/75"><strong>Store</strong>pic</h1>
        </div>
      </a>
      <ul class="hidden items-center gap-6 lg:flex">
        <li
          class="block p-1 font-sans text-sm font-normal leading-normal text-inherit antialiased"
        >
          <a class="flex items-center font-medium text-white transition hover:text-gray-500/75" routerLink="/home"> Home </a>
        </li>
        <li
          class="block p-1 font-sans text-sm font-normal leading-normal text-inherit antialiased"
        >
          <a class="flex items-center font-medium text-white transition hover:text-gray-500/75" routerLink="/api" > Api </a>
        </li>
      </ul>
      
      <div class="flex lg:w-auto w-full justify-end mr-2" >

        <ng-container *ngIf="username; else loginLink">
          <div class="flex gap-2">
            <div class="w-9 rounded-full overflow-hidden">
              <img
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Default_pfp.svg/1200px-Default_pfp.svg.png"
                alt="logo"
              />
            </div>
            <h1 class="mt-1 text-white text-[20px] hidden lg:block">
              {{ username }}
            </h1>
          </div>
  
          <button
            (click)="userLogOut()"
            class="ml-5 hidden lg:block px-4 py-1 rounded-lg hover:bg-[#d6d3d3] duration-300 border border-[#6f6f6f] hover:text-[#6f6f6f]  bg-gray-100 p-2.5 text-gray-600 transition hover:text-gray-600/75 "
          >
            Logout
          </button>
        </ng-container>
      
        <ng-template #loginLink>
          <!-- This will be displayed when 'username' is not defined -->
          <a
            routerLink="/login"
            class=" ml-5 hidden lg:block px-4 py-1 rounded-lg hover:bg-[#d6d3d3] duration-300 border border-[#6f6f6f] hover:text-[#6f6f6f]  bg-gray-100 p-2.5 text-gray-600 transition hover:text-gray-600/75 "
          >
            login
          </a>
        </ng-template>
      </div>
      <button
        (click)="openNav()"
        class="middle none relative ml-auto h-6 max-h-[40px] w-6 max-w-[40px] rounded-lg text-center font-sans text-xs font-medium uppercase text-blue-gray-500 transition-all hover:bg-transparent focus:bg-transparent active:bg-transparent disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none lg:hidden"
        data-collapse-target="navbar"
      >
        <span
          class="absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 transform"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            stroke="currentColor"
            strokeWidth="2"
          >
            <path
              strokeLinecap="round"
              strokeLinejoin="round"
              d="M4 6h16M4 12h16M4 18h16"
            ></path>
          </svg>
        </span>
      </button>
    </div>

    <div
      *ngIf="open"
      class="lg:hidden w-40 mr-2 rounded-md ml-auto mt-14 border-2 h-28 bg-white fixed overflow-x-hidden overflow-y-auto inset-0 z-50 outline-none focus:outline-none"
    >
      <a
        routerLink="/settings"
        class="group flex items-center ml-2 text-sm gap-3.5 font-medium p-2 hover:bg-[#bbc0c7] rounded-md"
      >
        <h1
          class="hidden max-sm:inline-block max-md:inline-block max-lg:inline-block text-black ml-0"
        >
          🏠
        </h1>
        <h1 class="text-black">Home</h1>
      </a>
      <a
        routerLink="/search"
        class="group flex items-center ml-2 text-sm gap-3.5 font-medium p-2 hover:bg-[#bbc0c7] rounded-md"
      >
        <h1
          class="hidden max-sm:inline-block max-md:inline-block max-lg:inline-block text-black ml-0"
        >
          📖
        </h1>
        <h1 class="text-black">Search</h1>
      </a>

      <button
      *ngIf="username; else loginPhone"
        (click)="userLogOut()"
        class="group flex items-center ml-2 text-sm gap-3.5 font-medium p-2 hover:bg-[#bbc0c7] rounded-md"
      >
        <h1
          class="hidden max-sm:inline-block max-md:inline-block max-lg:inline-block text-black ml-0"
        >
          🚪
        </h1>
        <h1 class="text-black">Log Out</h1>
      </button>
      <ng-template #loginPhone>

        <a
          routerLink="/login"
          class="group flex items-center ml-2 text-sm gap-3.5 font-medium p-2 hover:bg-[#bbc0c7] rounded-md"
        >
          <h1
            class="hidden max-sm:inline-block max-md:inline-block max-lg:inline-block text-black ml-0"
          >
            🔓
          </h1>
          <h1 class="text-black">Log in</h1>
        </a>
      </ng-template>
    </div>
  </div>
</nav>
