<input
  type="file"
  name="cover_img"
  (change)="ImgChangeHandler($event)"
  #profileImageRef
  hidden
/>
<main
  *ngIf="user"
  class="flex items-start justify-center absolute w-full h-full text-gray-900 font-sans overflow-x-hidden"
>
  <div class="main w-full md:w-[85vh]">
    <div class="card">
      <div class="flex w-full">
        <div class="md:flex w-full ">
          <h2 class="text-red-600"><strong>User Profile </strong></h2>
          <!-- <h6 class="text-sm text-green-400 pt-3 pl-2"><strong>(Click and edit your profile)</strong></h6> -->
        </div>
        <div class="justify-end max-w-max pr-5 pt-5">
          <img
            (click)="cancelProfile()"
            class="w-5 mt-10 h-5 cursor-pointer"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSukZWmlShXThaaA9kMDE2lUN5qJA5n4wxdDQ&usqp=CAU"
            alt=""
          />
        </div>
      </div>

      <form (ngSubmit)="onSubmit()" class="form" [formGroup]="userForm">
        <img
          (click)="profileImageRef.click()"
          class="rounded-full w-40 h-40"
          [src]="selectedImage?selectedImage:user.profileImage?user.profileImage:'https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Default_pfp.svg/1200px-Default_pfp.svg.png'"
          alt=""
        />

        <div class="card-body">
          <i class="fa fa-pen fa-xs edit"></i>
          <table>
            <tbody>
              <tr>
                <td>Name</td>
                <td class="text-red-600">:</td>
                <td>
                  <input
                    type="text"
                    class="border-none outline-none"
                    required
                    name="userName"
                    formControlName="userName"
                  />
                </td>
              </tr>
              <tr>
                <td>Email</td>
                <td class="text-red-600">:</td>
                <td>{{ user.email }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        
        <div class="mt-4 flex flex-wrap justify-center gap-4">
          <div>

            <h6 *ngIf="errorMessage" class="text-sm text-red-600 pt-3 pb-5 "><strong>{{errorMessage}}</strong></h6>
            <div
            *ngIf="submit && f.userName.errors"
            class="invalid-feedback text-red-600"
          >
            <h6  *ngIf="f.userName.errors['required']" class="text-sm text-red-600 pt-3 pb-5 "><strong>username is required</strong></h6>
            <h6  *ngIf="f.userName.errors['minlength']" class="text-sm text-red-600 pt-3 pb-5 "><strong>username minLength 6 letter</strong></h6>
          </div>
            <button
              type="submit"
              class="block  cursor-pointer w-full rounded bg-red-600 px-12 py-3 text-sm font-medium text-white shadow hover:bg-primary-700 focus:outline-none focus:ring active:bg-primary-500 sm:w-auto"
            >
              save
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- End -->
</main>
